@import url('https://fonts.googleapis.com/css2?family=Anton&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body h1, h2, h3, h4 {
    font-family: Anton, sans-serif;
}

body p {
    font-family: Work Sans, sans-serif;
}

/* Logo and  Navigation Menu */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

#logo-top {
    float: left;
    margin-left: 30px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

#menu {
    float: right;
}

#menu, #logo-top {
    line-height: 60px;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}
#menu a {
    text-decoration: none;
    color: black;
    font-family: Anton, sans-serif;
    font-size: 1.6em;
    text-transform: uppercase;
}

/* Main image on index page */

#main-image-outer {
    height: 600px;
    padding-top: 60px;
    clear: both;
}

#main-image {
    height: 500px;
    width: 100%;
    background: url(../images/pexels-photo-5093614.jpeg) no-repeat center center;
}

/* Cover text */
#image-cover {
    position: relative;
    text-align: center;
    height: auto;
    margin: 0 auto;
    width: max-content;
    color: white;
    padding-top: 175px;
}

#image-cover h2, h3{
    font-size: 250%;
    text-transform: uppercase;
}

/*what is section*/

#what-is img {
    width: 100%;
}

#what-is > div{
    max-height: 500px;
    display: inline-block;
}

#what-image {
    float: right;
    margin-right: 50px;
    width: 40%;
    margin-top: -25px;
}

#what-text {
    float: left;
    width: 40%;
    margin-left: 50px;
    padding-top: 50px;
}


/*why is this important to me section*/


#why img {
    width: 100%;
}

#why > div{
    clear: both;
    display: inline-block;
}

#why-image {
    float: left;
    margin-left: 50px;
    width: 40%;
}

#why-text {
    float: right;
    padding-top: 30px;
    width: 40%;
    margin-right: 50px;
    text-align: right;
}
/*infographic*/

#infographic {
    width: 100%;
    clear: both;
    height: 100%;
}