@import url('https://fonts.googleapis.com/css2?family=Anton&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body h1, h2, h3, h4 {
    font-family: Anton, sans-serif;
}

body p {
    font-family: Work Sans, sans-serif;
}

/* Logo and  Navigation Menu */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

.logo-top {
    float: left;
    margin-left: 30px;
    text-decoration: none;
    color: #1E77F7;
    text-transform: uppercase;
}

.menu {
    float: right;
}

.menu, .logo-top {
    line-height: 60px;
}

.menu li {
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}
.menu a {
    text-decoration: none;
    color: #F7982A;
    font-family: Anton, sans-serif;
    font-size: 1.6em;
    text-transform: uppercase;
}

.menu a:hover {
    border-bottom: 1px solid black;
}

/* Main image on index page */

#main-image-outer {
    height: 500px;
    padding-top: 60px;
    clear: both;
}

#main-image {
    height: 400px;
    width: 100%;
    background: url(../images/pexels-photo-5093614.jpeg) no-repeat center center;
}

/* Cover text */
#image-cover {
    text-align: center;
    height: auto;
    margin: 0 auto;
    width: max-content;
    color: white;
    padding-top: 100px;
    -webkit-text-stroke: 1px #F7982A;
}

#image-cover h2, h3{
    font-size: 400%;
    text-transform: uppercase;
}

/*what is section*/

#what-is img {
    width: 100%;
}

#what-is {
    margin: 0 auto;
    margin-top: -60px;
    max-height: 500px;
    margin-left: 150px;
}

#what-image {
    float: left;
    width: 100%;
    padding-top: 20px;
}

#what-text {
    padding: 20px;
    float: left;
    width: 30%;
    text-align: center;
    border: 3px solid gray;
    border-radius: 15px;
    background-color: #f3f4f4;
}

#what-text:hover {
    box-shadow: 5px 10px;
}


/*why is this important to me */


#why img {
    width: 95%;
}

#why {
    margin-top: -60px;
    max-height: 500px;
    margin-right: 150px;
}

#why-image {
    padding-top: 20px;
    width: 50%;
    margin: auto;
}

#why-text {
    padding: 20px;
    float: right;
    width: 30%;
    text-align: center;
    border: 3px solid gray;
    border-radius: 15px;
    background-color: #f3f4f4;
}

#why-text:hover {
    box-shadow: 5px 10px;
}
/*Where to start*/

#starter {
    clear: both;
    padding: 60px 0px;
    
}

#starter-text {
    text-align: center;
    background-color: #1E77F7;
    color: white;
    font-size: 300%;
}

#starter-text ul {
    font-family: Work Sans, sans-serif;;

}

/*Get involved link*/

#involve {
    margin: 0 auto;
    width: 33%;
    border: 2px solid gray;
    border-radius: 10px;
    height: 80px;
    position: absolute;
    left: 33%;
    color: gray;
    background-color: #f3f4f4;
    font-family: work sans, sans-serif;
    font-size: 300%;
}